body {
    font-family: 'Raleway', sans-serif;
}

#ribbon {
    align-items: center;
    background-color: #184059;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

#izq-rib {
    display: inline-flex;
}

#logo-prin h1 {
    color: #ffffff;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 35px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 250px;
}

.dropdown {
    position: relative;
}

.fa-bars {
    color: #fff;
    font-size: 50px;
}

.ddmenu {
    background-color: #fff;
    border-radius: 0px 0px 30px 30px;
    display: none;
    position: absolute;
    right: 0;
    width: 300px;
    z-index: 1;
}

#bars {
    height: 100px;
    line-height: 125px;
    text-align: center;
    width: 100px;
}

#menu-avatar {
    height: 100px;
    margin-right: 20px;
    overflow: auto;
    width: 100px;
}

#avatar {
    background-image: url('../img/avatar.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 75px;
    margin: 12px auto;
    width: 75px;
}

.ddmenu a {
    color: #184059;
    display: table-cell;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    height: 80px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 300px;
}

.dropdown:hover .ddmenu {
    display: table;
}

.ddmenu a.current {
    color: #fff;
    background-color: #5d8aa6;
}

.menu-item {
    border-left: 3px #d7d7d9 solid;
    border-right: 3px #d7d7d9 solid;
}

.menu-item:last-child {
    border-bottom: 3px #d7d7d9 solid;
    border-radius: 0px 0px 30px 30px;
    border-style: solid;
    border-width: 0px 3px 3px 3px;
}

h2 {
    color: #184059;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 60px auto 60px;
}

h3 {
    color: #184059;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 70px;
    text-align: center;
}

#forma-comp {
    display: flow-root;
    margin: 0 auto;
    width: 1390px;
}

#campos-izq {
    float: left;
}

#campos-der {
    float: right;
}

.field {
    border-style: none;
    height: 25px;
    width: 600px;
}

#btn-logo {
    margin-bottom: 20px;
}

.btn {
    border: none;
    background-color: #BF7B3F;
    border-radius: 25px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    height: 50px;
    width: 300px;
}